   <!-- This is the main card that is seen with the current weather-->
    <div class="card mx-auto mt-5" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">
             <!-- Parses data from pass through object -->
                <%= new Date(day.dt*1000).toLocaleDateString('en-US',{ weekday: 'short', month: 'long', day: 'numeric' }) %>
            </h5>
        </div>
        <img class="weather-icon" src="http://openweathermap.org/img/wn/<%= day.weather[0].icon %>@2x.png" alt="">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Current Temperature: <%= day.temp %>° F</li>
            <li class="list-group-item">Feels-Like: <%= day.feels_like %>° F</li>
            <li class="list-group-item">Air Quality Index: <%= aqi%></li>
        </ul>
    </div>
