<!-- Passes the Name of the city to the header component -->

<%- include("partials/header", {title: City}) -%>


<!-- passes longitude and latitude to the script that loads the map -->
<%- include('components/map/mapAnimation',{latitude: latitude, longitude: longitude} ) -%>


<!-- Builds the nav bar based on if it is zipcode or if it is a city search, dynamic forms -->
<%- include("partials/navbarpartials/navbarHeader") -%>
<% if (!Zipcode) { %>
<%- include("partials/forms/city") -%>
<% } else {%>
<%- include("partials/forms/zipCode") -%>

<% }%>
<%- include("partials/navbarpartials/navbarFooter") -%>

<body>
<!-- Main Content -->
  <main>
    <section class="container">
      <div class="site-title text-center">
        <h2>Today's Forecast</h2>
      </div>
    </section>
    <!----X--Today's Forecast ---X-->

    <!------ MID CONTENT -------->

    <!-- Map Section -->
    <section id="map">
    <!-- Using bootstrap rows / columns we are able to space everything nicely -->
      <div class="row">
        <div class="col">
        <!-- This is the left hand side of the weather app that will hold current weather data, -->
          <div class="weather-data text-center">

          <!--  Dynamically we are loading the city and a description, if any-->
            <h1 class="city-name pb-5"><%=City%></h1>
            <h3>Weather Description:</h3>
            <p> <%=Description.substring(0,300)%>. </p>
            <div> <%- include('components/popUpModal',{description: Description}) -%> </div>
            <%- include('components/CurrentWeather',{day: Today, aqi :airQualityIndex}) -%>
          </div>
        </div>
        <div class="col">
          <div id="myMap"></div>
        </div>
        <div class="col">
        <!-- Hourly forecast -->
          <h2 id="hourly-forecast">Hourly Forecast</h2>
          <div class="hourly-weather text-center">
            <div class="card" style="width: 18rem;">
              <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <ul class="list-group list-group-flush" id="hourly-list">
                <!-- Using EJS we are able to get the daily weather array from the server and parse it out building each hourly module -->
                  <% for(var i = 0 ; i<24; i++){  %>
                  <%- include("components/hourlyFore",{hour: Hourly[i], offset: Offset})-%>
                  <%} %>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>
    <hr>
    <!-- 5 day forcast -->
    <section>
      <div class="container text-center fiveDay">
        <h2>5 Day Forecast</h2>
        <div class="card-group">
        <!--Each weather card gets built out -->
          <% for(var i = 1 ; i<6; i++){  %>
          <%- include('components/forecastCard',{day: Daily[i]}); -%>
          <%} %>
        </div>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!------- FOOTER -------->
  <%- include('partials/footer') -%>